---
import Icon from "astro-icon";
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      I'm a software developer motivated by delivering content in engaging and compelling new ways.
      <br>
      <br>
      Technologies I work with include:
      <ul class="list-disc list-inside">
        <li role="link">JavaScript</li>
        <li role="link">React</li>
        <li role="link">Nodejs</li>
        <li role="link">Astro</li>
        <li role="link">Nuxt</li>
        <li role="link">UX/UI</li>
        <li role="link">Design</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      I <b>love</b> to code, but other competing interests include graphic art, game design, and composing music.</p>
    <p class="text-sm font-light">
      I play guitar, bass, drums, piano, and just about anything else I can get my hands on but probably feel most at home in a DAW (Cubase).
    </p>
    <p class="text-sm font-light">
      My world is vast and diverse and this portal is to share it with you.
    </p>
  </div>
</Card>
