---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-1" title="My Stack">
  <p class="text-sm font-light">
    Tools and technologies I'm currently interested in:
  </p>
  <ul class="text-sm font-light pl-5 list-disc">
    <li ><strong>Nuxt.js</strong></li>
    <li><strong>Astro</strong></li>
    <li><strong>Vue.js</strong></li>
    <li><strong>Bun.js</strong></li>
    <li><strong>Typescript</strong> for your personal safety</li>
  </ul>
</Card>
